*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
h1, h2  {
    padding: 1em;
}

#class ul{

}
li{
    list-style-type: none;
    margin-left: 1em;
}
input, select{
    width: 50%;
    padding: .6em;
    margin-right: .4em;
}
option{
    width: 50%;
    padding: .6em;
    margin-right: .4em;
}
button{
    padding: .8em;
    border-radius: 4px;
}

#results  {
    border: 1px solid black;
}
.listItemStyle {
    padding: .2em
}
.saveButton{
    padding: .1em;
}